:root {
    /* color codes */
    --blue: #51A5F8;
    --black: #000000;
    --gray: #666666;
    --white: #FDFDFD;
    --light-blue: #dcedfe;

    /*Default Color variables  */
    --background-default: var(--white);
    --text-default: var(--black);
    --text-secondary:var(--gray);
    --light-hover-bg:var(--light-blue)
}

body[mode="dark"] { 
    --background-default: var(--black);
    --text-default: var(--white); 
    --text-secondary:var(--gray);
    --light-hover-bg:var(--gray)
}

body {
    background: var(--background-default)  !important;
    color: var(--text-default) !important; 
}

*{
    margin: 0;
    box-sizing: border-box;
}
.right-0{
    right: 0px;
}